@media only screen  and (max-width: 680px) {
    body::-webkit-scrollbar {
        display: none;
      }
    body{
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
    
    #NavBarDiv{
        display: none;
        position: fixed;
        width: 100%;
        height:50px;
        left:0;
        top:0;
        right:0;
        background-color: rgb(22, 19, 13);
        text-align: center;
       
      
    }
    #MobileNav{
        display: none;
    }
    .NavItem{
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        width: 200px;
        color:whitesmoke;
        padding-top: 15px;
        font-family: "Oswald";
        
        transition: 0.5s ease;
        
    }
    
    
    .NavItem > a{
        color:whitesmoke;
        text-decoration: none;
    }
    .NavItem:hover{
        border-bottom: whitesmoke 3px solid;
        cursor: pointer;
    }
    
    #NavLogo{
        position: absolute;
        left: 50px;
        top: 5px;
       height: 40px;
       
        display: inline-block;
        box-sizing: border-box;
       transition: 1s;
        color:whitesmoke;
      }
    
      #NavLogo:hover{
        cursor: pointer;
        filter: grayscale(1);
      }
    
    
    
    #myVideo {
        
        position: fixed;
        width: 100vw;
       height: 100vh;
       object-fit: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -15;
     
      }
      
    
      #logo{
          height: 25vh;
          width: auto;
          z-index: -5;
         
      }
      #TextDiv{
          position: fixed;
        box-sizing: border-box;
          text-align: center;
          color: whitesmoke; 
          left: 0;
          height: 100vh;
          width: 100vw;
          margin-top: 10%;
          z-index: -15;
          
        
      }
      #TitleDiv{
          font-family: 'Oswald', sans-serif;
          font-size: 4vh;
          z-index: auto;
      }
      #NameDiv{
        font-family: 'Montserrat', sans-serif;
        font-size: 24pt;
        z-index: auto;
    
    }
    #contentDiv{
        margin-top: 100vh;
        position: absolute;
        background-color:whitesmoke;
        left: 0;
        right: 0;
        z-index: -10;
        text-align: center;
    }
    
    #BiographyImage{
        display: inline-block;
        width:100%;
    }
    
    #PhotoMe{
        width: 100%;
        height: auto;
        
    }
    .smallText{
        width: 80%;
        display: inline-block;
        font-family: "Montserrat";
        text-align: justify;
        font-size: 1.3vh;
        box-sizing: border-box;
        padding-top: auto;
    
    }
    .ContainerTitel{
        font-family: "Oswald";
        font-size: 4vw;
        margin-top: 50px;
        border-bottom: 3px solid;
        width:80vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        
    }
    .HRDiv{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    

    .PostTitle{
        text-align: center;
        font-family: "Oswald";
        font-size: 3vw;
        text-align: center;
        width: 70vw;
        border-bottom: 1px solid;
        margin-left: auto;
        margin-right: auto;
    }
    .BlogPost{
        text-align: center;
        
    }
    .PostTitle > p{
        font-family: "Montserrat";
        font-size: 2.5vw;  
    }
    .BlogPostContent , .BlogPostContent2{
    vertical-align: middle;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gray;
    }
    .BlogPostText, .BlogPostText2{
        width: 90%;
       
        display: inline-block ;
        font-family: "Montserrat";
        text-align: justify;
        font-size: 1.3vh;
        box-sizing: border-box;
        Padding-top: auto;
        Padding-bottom: auto;  
    
    }
    .PostImageContainer, .PostImageContainer2{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        padding: 2%;
       
    }
    .PostImage, .PostImage2{
        width: 100%;
        height: auto;
        filter: drop-shadow();
        -webkit-box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
        box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
    }
}

/*//////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 680px) {
    body::-webkit-scrollbar {
        display: none;
      }
    body{
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
    
    #NavBarDiv{
        position: fixed;
        width: 100%;
        height:50px;
        left:0;
        top:0;
        right:0;
        background-color: rgb(22, 19, 13);
        text-align: center;
       
      
    }
    #MobileNav{
        display: none;
    }
    .NavItem{
        display: inline-block;
        box-sizing: border-box;
        height: 100%;
        width: 200px;
        color:whitesmoke;
        padding-top: 15px;
        font-family: "Oswald";
        
        transition: 0.5s ease;
        
    }
    
    
    .NavItem > a{
        color:whitesmoke;
        text-decoration: none;
    }
    .NavItem:hover{
        border-bottom: whitesmoke 3px solid;
        cursor: pointer;
    }
    
    #NavLogo{
        position: absolute;
        left: 50px;
        top: 5px;
       height: 40px;
       
        display: inline-block;
        box-sizing: border-box;
       transition: 1s;
        color:whitesmoke;
      }
    
      #NavLogo:hover{
        cursor: pointer;
        filter: grayscale(1);
      }
    
    
    
    #myVideo {
        
        position: fixed;
        width: 100vw;
       height: 100vh;
       object-fit: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -15;
     
      }
      
    
      #logo{
          height: 200px;
          width: auto;
          z-index: -5;
         
      }
      #TextDiv{
          position: fixed;
        box-sizing: border-box;
          text-align: center;
          color: whitesmoke; 
          height: 100vh;
          width: 100vw;
          margin-top: 10%;
          z-index: -15;
          
        
      }
      #TitleDiv{
          font-family: 'Oswald', sans-serif;
          font-size: 28pt;
          z-index: auto;
      }
      #NameDiv{
        font-family: 'Montserrat', sans-serif;
        font-size: 24pt;
        z-index: auto;
    
    }
    #contentDiv{
        margin-top: 100vh;
        position: absolute;
        background-color:whitesmoke;
        left: 0;
        right: 0;
        z-index: -10;
        text-align: center;
    }
    
    #BiographyImage{
        display: inline-block;
        width:40%;
    }
    
    #PhotoMe{
        width: 70%;
        height: auto;
        
    }
    .smallText{
        width: 40%;
        display: inline-block;
        font-family: "Montserrat";
        text-align: justify;
        font-size: 1.2vw;
        box-sizing: border-box;
        padding-top: auto;
    
    }
    .ContainerTitel{
        font-family: "Oswald";
        font-size: 18pt;
        margin-top: 50px;
        border-bottom: 3px solid;
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        
    }
    .HRDiv{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #Biography2Right{
     padding: 20px;
     text-align: center;
    }

    .PostTitle{
        text-align: center;
        font-family: "Oswald";
        font-size: 1.5vw;
        text-align: center;
        width: 30vw;
        border-bottom: 1px solid;
        margin-left: auto;
        margin-right: auto;
    }
    .BlogPost{
        text-align: center;
        
    }
    .PostTitle > p{
        font-family: "Montserrat";
        font-size: 1.2vw;  
    }
    .BlogPostContent, .BlogPostContent2{
    vertical-align: middle;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gray;
    text-align: center;
    }
    .BlogPostText{
        width: 40%;
        height: 100%;
        display: inline-block ;
        font-family: "Montserrat";
        text-align: justify;
        font-size: 1.2vw;
        box-sizing: border-box;
        Padding-top: auto;
        Padding-bottom: auto;  
        vertical-align: middle;
    }
    .BlogPostText2{
        width: 80%;
        height: 100%;
        display: block ;
        font-family: "Montserrat";
        text-align: justify;
        font-size: 1.2vw;
        box-sizing: border-box;
        Padding-top: auto;
        Padding-bottom: auto;  
       margin-left: auto;
       margin-right: auto;
    }
    .PostImageContainer{
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        height: 100%;
        padding: 2%;
        vertical-align: middle;
    }
    .PostImageContainer2{
        text-align: center;
        box-sizing: border-box;
        width: 60%;
        margin-left:auto;
        margin-right: auto;
        display: block;
   
        padding: 2%;
       
    }
    .PostImage{
        width: 90%;
        height: auto;
        filter: drop-shadow();
        -webkit-box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
        box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
    }
    .PostImage2{
        width: 100%;
        height: auto;
        filter: drop-shadow();
        -webkit-box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
        box-shadow: 14px 15px 29px -12px rgba(0,0,0,0.75);
    }
}